<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="msnry.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/assets/logo.svg" alt="" />
        <img class="logoText" src="/assets/logoText.svg" alt="" />
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/masonry/msnry.html">Masonry</a></li>
        <li><a href="#">Flex</a></li>
        <li><a href="#">Grid</a></li>
        <li><a href="#">Games</a></li>
      </ul>
    </nav>
    <div class="grid">
      <h1>Masonry - fluid columnWidth</h1>

      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--width2 grid-item--height2"></div>
        <div class="grid-item grid-item--height3"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item grid-item--width3"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item grid-item--width2 grid-item--height3"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--width2 grid-item--height2"></div>
        <div class="grid-item grid-item--width2"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height3"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
      </div>
    </div>
  </body>
</html>
