<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>CSS layouts</title>
  </head>
  <body>
    <!-- <nav>
      <div class="logo">
        <img src="/assets/logo.svg" alt="" />
        <img class="logoText" src="/assets/logoText.svg" alt="" />
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/masonry/msnry.html">Masonry</a></li>
        <li><a href="#">Flex</a></li>
        <li><a href="#">Grid</a></li>
        <li><a href="#">Games</a></li>
      </ul>
    </nav> -->
    <header class="primary-header">
      <div class="wrapper">
        <div class="primary-header_content">
          <h1 class="page-title">CSS is all about relationships</h1>
          <p>
            A lot of solutions for writing CSS are about trying to isolate its
            effects to individual elements or components. this can make things
            feel more under control, but CSS is all about relationships, and
            understanding how elements are related to one another will help you
            be better at controlling your layouts.
          </p>
        </div>
      </div>
    </header>

    <div class="wrapper">
      <div class="even-columns">
        <div class="card">
          <img src="img1.jpg" alt="random cars" />

          <h2 class="card_title">A simple card</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
            possimus consequuntur similique, numquam amet eos ipsum magni
            maiores deleniti exercitationem, nulla quae harum? Alias vitae
            quisquam illo facilis. Dolores, neque!
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto sint
            dolores dignissimos ad, cum quia, suscipit eum iure doloremque
            perspiciatis modi deleniti reprehenderit aut ab dolorum optio
            temporibus ipsum autem?
          </p>
        </div>
        <div class="card">
          <h2 class="card_title">A simple card</h2>
        </div>
      </div>
    </div>
  </body>
</html>
